.storePage {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.storePage__banner {
    height: 30vh;
    min-height: 40vh;
    background-color: var(--color-primary);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.storePage__banner > h1, .storePage__banner > p {
    color: var(--color-white);
    margin: 0;
}

.storePage__itemList {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    padding: 10px;
    flex-wrap: wrap;
}