/* @use '../../assets/styles/variables.scss'; */

.highlights {
    padding: 10px;
}

.highlights__section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.highlights__item {
    border: 2px solid var(--color-primary);
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    position: relative;

}

.highlights__item img {
    width: 450px;
    max-height: 200px;
    object-fit: contain;
    margin-bottom: 5px;
}

.highlights__itemHover {
    position: absolute;
    width: 100%;
    background-color: var(--color-primary-transparent);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    z-index: 0;
    height: 0;
    visibility: hidden;
}

.highlights__itemHover > p {
    color: white !important;
}

.highlights__item h4, .highlights__item p {
    margin: 0;
    color: black;
}

.highlights__item:hover .highlights__itemHover {
    visibility: visible;
    height: 100%;
    transition: all 0.4s;

}