/* @use '../../assets/styles/variables.scss'; */

.highlights {
    padding: 10px;
}

.highlights__section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}