.orderItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    justify-content: space-between;
}

.orderItem > p {
    margin: 0;
}

.orderItem > img {
    height: 150px;
    width: 150px;
    object-fit: cover;
}

.orderItem__data > p {
    margin: 0;
}

@media (max-width: 735px) {
    .orderItem {
        width: 95%;
    }
}