.categoryPage {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.categoryPage__Banner {
    height: 30vh;
    min-height: 200px;
    width: 100%;
    background-color: var(--color-primary);
    text-align: center;
}

.categoryPage__Banner h1 {
    color: var(--color-white);
}

.categoryPage__items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;   
}