.cartPage__hero {
    height: 250px;
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-white);
}

.cartPage__listItems {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cartPage__total {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    font-size: 28px;
}

.cartPage__listItems > button {
    font-size: 28px;
    background-color: var(--color-primary);
    color: var(--color-white);
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
    margin-bottom: 50px;
}