.categoriesCarrousel {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
}

.categoriesCarrousel svg {
    font-size: 40px;
    cursor: pointer;
}

.categoriesCarrousel__arrow {
    height: 100%;
    background-color: var(--color-primary-transparent);
}

.categoriesCarrousel__list {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    /* overflow-x: scroll; */
    /* scroll-behavior: smooth; */
    /* scrollbar-width: 0; */
}

.categoriesCarrousel__list::-webkit-scrollbar {
    display: none;
}

.categoriesCarrousel__list-item {
    height: 120px;
    min-height: 120px;
    width: 130px;
    min-width: 130px;
    border: 2px solid var(--color-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    background-color: var(--color-white);
    text-align: center;
}

.categoriesCarrousel__list-item > h4 {
    font-size: 14px;
}

.categoriesCarrousel__list-item:hover {
    background-color: var(--color-primary);
    color: white;
    box-shadow: 0 0 5px 3px #80808061;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
}