.paymentPage {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.paymentPage__header {
    background-color: var(--color-primary);
    height: 50px;
    width: 100%;
}

.paymentPage__form {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 70%;
    max-width: 1000px;
}

.paymentPage__formItem {
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
}

.paymentPage__formItem > label {
    margin: 0 5px 0 0;
    text-wrap: nowrap;
}

.paymentPage__formItem > input, .paymentPage__formItem > select {
    margin: 5px;
    font-size: 16px;
    width: 80px;
    flex-grow: 1;
}

.paymentPage__formItemContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.paymentPage__formCardData {
    width: 80%;
}

.paymentPage__form > button {
    margin: auto;
    font-size: 28px;
    background-color: var(--color-primary);
    color: var(--color-white);
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
    margin-bottom: 50px;
}

.paymentPage__totalText {
    font-size: 26px;
}

@media (max-width: 1175px) {

    .paymentPage__formCardData {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    .paymentPage__formItemContainer {
        flex-wrap: wrap;
        width: 100%;
        flex-grow: 1;
    }

    .paymentPage__form {
        width: 95vw;
    }

    .paymentPage__formItem {
        flex-wrap: wrap;
    }
}

@media (max-width: 975px) {
    .paymentPage > h3 {
        margin: 20px 0;
    }
}