/* Color variables */

:root {
    --color-primary: #012534;
    --color-white: #FFFFFF;
    --color-primary-transparent: #01253422;
    --color-primary-opacity: #0125344b;
    --color-success: #44b800;
}