.homeHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    max-width: 100%;
    height: 85vh;
    background-color: var(--color-primary);
    background-image: url('https://s3-media0.fl.yelpcdn.com/educatorphoto/rMQ-LdQ3Aiq-WdMNOmQq2w/o.jpg');
    background-size: cover;
}

.homeHeader h1 {
    color: var(--color-white);
    font-size: 5rem;
    margin-bottom: 0;
}

.homeHeader > p {
    color: var(--color-white);
    margin: 0;
}