/* @use './../../assets/styles/variables.scss'; */

.homeHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    max-width: 100%;
    height: 350px;
    background-color: var(--color-primary);
}

.homeHeader h1 {
    color: var(--color-white);
    font-size: 5rem;
    margin-bottom: 0;
}

.homeHeader p {
    color: var(--color-white);
    margin: 0;
}

.homeHeader__navbar {
    width: 99vw;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
    position: relative;
}

.homeHeader__navbarButtons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.homeHeader__navbarButtons svg {
    background-color: var(--color-white);
    font-size: 24px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.homeHeader__navbar-input {
    color: black;
    background-color: var(--color-white);
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 300px;
    border-radius: 5px;
    padding: 0 10px;
    margin-right: 5px;
    overflow: hidden;

   
}

.homeHeader__navbar-input input {
    background-color: transparent;
    flex-grow: 1;
    border: none;
    outline: none;
    margin: 0 10px;
    font-size: 16px;
    font-weight: lighter;
}