.userMenu {
    position: absolute;
    right: 8px;
    top: 45px;
    width: 250px;
    background-color: var(--color-contrast);
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    height: 0;
    visibility: hidden;
}

.userMenu__show {
    visibility: visible;
    height: fit-content;
}

.userMenu__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.userMenu__item > svg {
    background-color: transparent;
    font-size: 35px;
    padding: 5px;
    border-radius: 5px;
}

.userMenu__item:hover {
    background-color: var(--color-primary-transparent);
    color: white;
}

.userMenu__item:hover > p {
    color: white;
    font-weight: bold;
}

.userMenu__item > p{
    color: black;
    margin: 0 5px;
}